<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARSm6xaO-PpXiyMu-ZPVzPwWqJTMuF_sU</string>
	<key>GCM_SENDER_ID</key>
	<string>869067818889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.chrishale.garble</string>
	<key>PROJECT_ID</key>
	<string>garble-f1095</string>
	<key>STORAGE_BUCKET</key>
	<string>garble-f1095.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869067818889:ios:4c8000dcaab734e9360358</string>
</dict>
</plist>